# REPORT
## OVERVIEW
   The nonprofit foundation Alphabet Soup wants a tool that can help it select the applicants for funding with the best chance of success in their ventures. With techniques of machine learning and neural networks, the features are used in the provided dataset to create a binary classifier that can predict whether applicants will be successful if funded by Alphabet Soup.
   The dataset contains more than 34,000 organizations that have received funding from Alphabet Soup over the years. Within this dataset are a number of columns that capture metadata about each organization
## REUSLTS
- Data processing:
   The targer for this dataset is the column (IS_SUCCESSFUL) which indicates whether the money used effectively, the features are all the other columns except that, two columns were dropped (EIN, Name) since they are irrelevant to the feature nor the target.
- Compiling, Training, and evaluating the models:
   The first try, the model tested with 3 layers with 8 nodes for the first layer and 5 nodes for the second layer and the output layer with 1 node, the activation functions used were RELU for the hidden layers, and Sigmoid function for the output layer. This model acheived accuracy of 0.7325.
   Then hypertuning was used to improve the model by trying different layers numbers and nodes number and choose the best score, the results was accuracy of 0.73154, this score was acheived using 6 layers and 16 total nodes.

## Summary:
 Even with the hypertuned model the highest accuracy was 0.7325, which is less than the target accuracy which is higher than 75%, my recommendation is to try different classification models to see if we can get better accuracy.

## Preprocessing

In [58]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df=application_df.drop(columns=['EIN','NAME'])
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
new=df['APPLICATION_TYPE'].value_counts()<500
application_types_to_replace=new[new].index.values
application_types_to_replace

array(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'],
      dtype=object)

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
new=df['APPLICATION_TYPE'].value_counts()<500
application_types_to_replace=new[new].index.values

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
new=df['CLASSIFICATION'].value_counts()<1883
classifications_to_replace=new[new].index.values

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Split our preprocessed data into our features and target arrays
X=df.drop(columns=['IS_SUCCESSFUL'])
y=df['IS_SUCCESSFUL']

# # Convert categorical data to numeric with `pd.get_dummies`
X_dummies = pd.get_dummies(X)

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X_dummies,y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train_scaled[0])
number_input_features
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=5, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 8)                 352

 dense_12 (Dense)            (None, 5)                 45

 dense_13 (Dense)            (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model

fit_model = nn_model.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6205 - accuracy: 0.6843
Epoch 2/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5691 - accuracy: 0.7258
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5619 - accuracy: 0.7264
Epoch 4/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5581 - accuracy: 0.7283
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5564 - accuracy: 0.7284
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5559 - accuracy: 0.7295
Epoch 7/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5549 - accuracy: 0.7292
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7297
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5534 - accuracy: 0.7296
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7287
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5526 - accuracy: 0.7308
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7308
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7297
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7312
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7314
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7315
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7315
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7323
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7322
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7317
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7326
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7319
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7324
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7324
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7320
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7325
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7324
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7325
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7326
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7327
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7326
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7336
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7329
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7330
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7329
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5476 - accuracy: 0.7331
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5477 - accuracy: 0.7330
Epoch 39/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5476 - accuracy: 0.7332
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7333
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7331
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7325
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7334
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7331
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7335
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7342
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7332
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7338
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7340
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7337
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7339
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7333
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7338
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7336
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7338
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7337
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7338
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7350
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7328
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7329
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7333
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7332
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7332
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7327
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7331
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7339
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7321
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7338
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7328
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7348
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7334
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7339
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7340
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7331
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7335
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7337
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7330
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7331
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7330
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7341
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7335
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7340
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7339
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7345
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7329
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7339
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7335
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7337

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5539 - accuracy: 0.7320 - 464ms/epoch - 2ms/step
Loss: 0.5538821220397949, Accuracy: 0.7320116758346558

In [ ]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_Optimization.h5")

In [ ]:
#Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=43))
    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    #until here kerastuner will decide how many hidden layer, after that we add output layer
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [ ]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=3)

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 72 Complete [00h 01m 23s]
val_accuracy: 0.7286297082901001

Best val_accuracy So Far: 0.7325947284698486
Total elapsed time: 00h 08m 17s

In [ ]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'relu',
 'first_units': 5,
 'num_layers': 6,
 'units_0': 1,
 'units_1': 5,
 'units_2': 1,
 'units_3': 1,
 'units_4': 3,
 'units_5': 5,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 0,
 'tuner/round': 0}

In [ ]:
# Evaluate best model against full test data
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5732 - accuracy: 0.7315 - 623ms/epoch - 2ms/step
Loss: 0.5732007622718811, Accuracy: 0.7315452098846436